autobahn==17.9.3
certifi==2017.11.5
chardet==3.0.4
cryptography==39.0.1
pyOpenSSL==17.5.0
requests==2.18.4
service-identity==17.0.0
Twisted==22.10.0rc1
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
